#top-div {
  width: 800px;
  background-color:#dcc9f4;
  margin: 20px;
  text-align: center;
}

p {
  width: 20%;  
  background-color:#ffd9df;
  display: inline-block; 
}

#middle-div {
  width: 800px;
  height: 800px;
  margin: 20px;
  text-align: center;
  background-color:#ffd9df;

  .middle-child01-div {
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 100px;
    background-color: #87ceeb;
   }

  .middle-child02-div {
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 300px;
    background-color: #87ceeb;
   }

  .middle-child03-div {
    width: 200px;
    height: 200px;
    position: relative;
    top: 100px;
    left: 500px;
    background-color: #87ceeb;
   }
  }
#bottom-div {
  width: 800px;
  height: 300px;
  margin: 20px;
  text-align: center;
  background-color:#87ceeb;

  .bottom-child01-div {
    width: 400px;
    height: 100px;
    background-color: #e5dcf0;
  }

  .bottom-child02-div {
    width: 400px;
    height: 100px;
    position: relative;
    top: 0px;
    left: 200px;
    background-color: #e5dcf0;
  }

  .bottom-child03-div {
    width: 400px;
    height: 100px;
    position: relative;
    top: 0;
    left: 400px;
    background-color: #e5dcf0;
  }

  }